/install_linux/
/install_windows/
*.deb
.settings/
*.prefs
.settings
.project
.classpath
gen
target
bin
project.properties
output.log
gwt-unitCache/
widgetsets/
tmp
*.zip
*/tests/*
*.log
*.deb
*.*~
*.lyx#
*.orig
*.log*
