<!-- #%L Think Machine (Core) %% Copyright (C) 2017 Softwaremagico %% This 
	software is designed by Jorge Hortelano Otero. Jorge Hortelano Otero <softwaremagico@gmail.com> 
	Valencia (Spain). This program is free software; you can redistribute it 
	and/or modify it under the terms of the GNU General Public License as published 
	by the Free Software Foundation; either version 2 of the License, or (at 
	your option) any later version. This program is distributed in the hope that 
	it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
	of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General 
	Public License for more details. You should have received a copy of the GNU 
	General Public License along with this program; If not, see <http://www.gnu.org/licenses/gpl-3.0.html>. 
	#L% -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="ThinkingMachineCore">
	<test name="CharacterCrud" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="skillFactory" />
				<include name="raceFactory" />
				<include name="damageFactory" />
				<include name="characteristicsFactory" />
				<include name="weaponsFactory" />
				<include name="beneficeFactory" />
				<include name="blessingFactory" />
				<include name="factionsFactory" />
				<include name="occultismFactory" />
				<include name="planetsFactory" />
				<include name="randomCharacter" />
				<include name="jsonExporter" />
				<include name="blessings" />
				<include name="occultism" />
				<exclude name="gaussianDistribution" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.tm.factory.SkillFactoryTests" />
			<class name="com.softwaremagico.tm.factory.RaceFactoryTests" />
			<class name="com.softwaremagico.tm.factory.DamageTypeFactoryTests" />
			<class name="com.softwaremagico.tm.factory.FactionFactoryTests" />
			<class
				name="com.softwaremagico.tm.factory.CharacteristicsDefinitionFactoryTests" />
			<class name="com.softwaremagico.tm.factory.WeaponsFactoryTests" />
			<class name="com.softwaremagico.tm.factory.BeneficeFactoryTests" />
			<class name="com.softwaremagico.tm.factory.BlessingFactoryTests" />
			<class name="com.softwaremagico.tm.factory.OccultismFactoryTests" />
			<class name="com.softwaremagico.tm.factory.PlanetsFactoryTests" />
			<class name="com.softwaremagico.tm.rules.BlessingTests" />
			<class name="com.softwaremagico.tm.rules.OccultismTests" />
			<class name="com.softwaremagico.tm.random.RandomCharacterTests" />
			<class name="com.softwaremagico.tm.random.GaussianDistributionTests" />
			<class name="com.softwaremagico.tm.json.JsonTests" />
		</classes>
	</test>
</suite>
