<!-- #%L Think Machine (Random Generator) %% Copyright (C) 2017 - 2019 Softwaremagico 
	%% This software is designed by Jorge Hortelano Otero. Jorge Hortelano Otero 
	<softwaremagico@gmail.com> Valencia (Spain). This program is free software; 
	you can redistribute it and/or modify it under the terms of the GNU General 
	Public License as published by the Free Software Foundation; either version 
	2 of the License, or (at your option) any later version. This program is 
	distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
	PURPOSE. See the GNU General Public License for more details. You should 
	have received a copy of the GNU General Public License along with this program; 
	If not, see <http://www.gnu.org/licenses/gpl-3.0.html>. #L% -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="ThinkingMachineRandom">
	<test name="CharacterGenerator" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="randomDefinition" />
				<include name="randomPreferences" />
				<include name="randomCharacter" />
				<include name="profile" />
				<include name="difficulty" />
				<include name="randomPartyFactory" />
				<include name="randomParty" />
				<exclude name="threatAverage" />
				<exclude name="gaussianDistribution" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.tm.random.RandomDefinitions" />
			<class name="com.softwaremagico.tm.character.RandomCharacterTests" />
			<class name="com.softwaremagico.tm.random.profile.ProfileTests" />
			<class name="com.softwaremagico.tm.random.party.RandomPartyFactoryTests" />
			<class name="com.softwaremagico.tm.random.party.RandomPartyDefinitionTests" />
			<class name="com.softwaremagico.tm.random.RandomCharacterDifficultyTests" />
			<class name="com.softwaremagico.tm.random.GaussianDistributionTests" />
			<class name="com.softwaremagico.tm.random.RandomCharacterThreatAverage" />
		</classes>
	</test>
</suite>
